/* src/styles/ConstructionView.scss */
@use "sass:color";
@use "@/styles/global.scss" as global;

.construction-page-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.page-title {
  font-size: 2.5em;
  color: var(--highlight-color);
  margin-bottom: 10px;
  text-shadow: 0 0 10px rgba(global.$highlight-color, 0.5);
}

.page-description {
  font-size: 1.2em;
  color: var(--text-color);
  opacity: 0.8;
  margin-bottom: 30px;
}

.placeholder-text {
  font-size: 1em;
  color: #aaa;
}